In [ ]:
''' 
El problema de este data set es que tenía comillas simples en vez de dobles
'''

In [1]:
import pandas as pd
import ast

#abrir y convertir en DataFrame
rows = []
with open('C:/Users/Susana y Juan/OneDrive/Escritorio/Henry/PI_ML_OPS/Archivos/australian_user_reviews.json', encoding = 'MacRoman') as users_reviews:
    for line in users_reviews.readlines():
        rows.append(ast.literal_eval(line))
        
review_df = pd.DataFrame(rows)

In [2]:
#DESANIDAR COLUMNA

# Crear una lista para almacenar los datos desanidados
data_desanidada = []

# Iterar a través de las filas del DataFrame original
for index, row in review_df.iterrows():
    user_id = row['user_id']
    reviews = row['reviews']
    
    for i in reviews:
        new_row = {
            'user_id': user_id,
            'funny': i.get('funny', ''),
            'posted': i.get('posted', ''),
            'last_edited': i.get('last_edited', ''),
            'item_id': i.get('item_id', ''),
            'helpful': i.get('helpful', ''),
            'recommend': i.get('recommend', False),  # Cambié bool a False para que sea un valor booleano por defecto
            'review': i.get('review', '')
        }
        data_desanidada.append(new_row)

# Crear un nuevo DataFrame con los datos desanidados
desanidado_df = pd.DataFrame(data_desanidada)

# Ver el nuevo DataFrame
print(desanidado_df.head())  # Esto mostrará las primeras filas del DataFrame desanidado

             user_id funny                     posted last_edited item_id  \
0  76561197970982479         Posted November 5, 2011.                1250
1  76561197970982479            Posted July 15, 2011.               22200
2  76561197970982479           Posted April 21, 2011.               43110
3            js41637            Posted June 24, 2014.              251610
4            js41637        Posted September 8, 2013.              227300

                                           helpful  recommend  \
0                                   No ratings yet       True
1                                   No ratings yet       True
2                                   No ratings yet       True
3  15 of 20 people (75%) found this review helpful       True
4     0 of 1 people (0%) found this review helpful       True

                                              review
0  Simple yet with great replayability. In my opi...
1               It's unique and worth a playthrough.
2  Great atmosphere. The gunplay can be a bit chu...
3  I know what you think when you see this title ...
4  For a simple (it's actually not all that simpl...

In [4]:
#UNIR DOS DATAFRAME (merge)
# Suponiendo que ya tienes los DataFrames review_df y desanidado_df

# Unir los DataFrames utilizando la columna "user_id" como clave
merged_df = review_df.merge(desanidado_df, on='user_id', how='inner')

# "how='inner'" significa que solo se incluirán las filas que tengan coincidencias en ambas tablas.
# Si deseas incluir todas las filas de ambas tablas, puedes usar "how='outer'" en su lugar.

# Ahora tienes un nuevo DataFrame llamado merged_df que contiene la información combinada de ambos DataFrames
merged_df

,user_id,user_url,reviews,funny,posted,last_edited,item_id,helpful,recommend,review
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2...",,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2...",,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.
2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2...",,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
3,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014...",,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
4,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014...",,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...
...,...,...,...,...,...,...,...,...,...,...
61073,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"[{'funny': '', 'posted': 'Posted July 21.', 'l...",,Posted July 10.,,70,No ratings yet,True,a must have classic from steam definitely wort...
61074,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"[{'funny': '', 'posted': 'Posted July 21.', 'l...",,Posted July 8.,,362890,No ratings yet,True,this game is a perfect remake of the original ...
61075,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"[{'funny': '1 person found this review funny',...",1 person found this review funny,Posted July 3.,,273110,1 of 2 people (50%) found this review helpful,True,had so much fun plaing this and collecting res...
61076,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"[{'funny': '1 person found this review funny',...",,Posted July 20.,,730,No ratings yet,True,:D
61077,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"[{'funny': '1 person found this review funny',...",,Posted July 2.,,440,No ratings yet,True,so much fun :D

In [5]:
#ELIMINAS COLUMNAS

# Supongamos que quieres eliminar las columnas 'columna1' y 'columna2' de tu DataFrame
columnas_a_eliminar = ['user_url', 'reviews', 'funny', 'last_edited']

# Utiliza el método drop para eliminar las columnas
df_reviews_clean = merged_df.drop(columnas_a_eliminar, axis=1)

# El argumento "axis=1" indica que quieres eliminar columnas en lugar de filas.

In [7]:
#ELIMINAR PARTE DE UN REGISTRO

# Eliminar la palabra "Posted" de la columna "posted"
df_reviews_clean['posted'] = df_reviews_clean['posted'].str.replace('Posted', '')

# Ahora, la columna "mi_columna" tendrá la palabra "eliminar" eliminada en todas las filas.

df_reviews_clean.head()

,user_id,posted,item_id,helpful,recommend,review
0,76561197970982479,"November 5, 2011.",1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,76561197970982479,"July 15, 2011.",22200,No ratings yet,True,It's unique and worth a playthrough.
2,76561197970982479,"April 21, 2011.",43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
3,js41637,"June 24, 2014.",251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
4,js41637,"September 8, 2013.",227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...

In [8]:
#TRANSFORMAR TIPOS DE DATOS 
df_reviews_clean['posted'] = df_reviews_clean['posted'].astype(str)

In [10]:
# CHEQUIAR TIPO DE DATOS

tipo_de_dato = df_reviews_clean['posted'].dtypes
print(tipo_de_dato)

object

In [11]:
# REEMPLAZAR valores None o NaN con cadenas vacías
df_reviews_clean['posted'] = df_reviews_clean['posted'].fillna('').astype(str)

In [12]:
#ELIMINAR POSIBLES ESPACIOS EN BLANCO

# Eliminar espacios en blanco al principio de la columna 'Columna1'
df_reviews_clean['posted'] = df_reviews_clean['posted'].str.lstrip()

In [13]:
# ELIMINAR PARTE DE UN REGISTRO

# Eliminar puntos al final de la columna 'Columna1'
df_reviews_clean['posted'] = df_reviews_clean['posted'].str.rstrip('.')

In [16]:
#CREACIÓN NUEVA COLUMNA PARA AGREGAR INFORMACIÓN LUEGO

# Crear una nueva columna 'Date_Review' con valores nulos (NaN)
df_reviews_clean['Date_Review'] = pd.NaT

# Obtener el índice de la columna 'posted'
indice_columna_posted = df_reviews_clean.columns.get_loc('posted')

# Insertar la columna 'Date_Review' al lado de 'posted'
df_reviews_clean.insert(indice_columna_posted + 1, 'Date_Review', df_reviews_clean.pop('Date_Review'))

In [18]:
#SE REALIZÓ PARA EXTRAER SÓLO EL AÑO. (formato de la fecha inválida para transformarla directamente)
# Extraer los últimos 4 caracteres de la columna 'posted' y asignarlos a 'Date_Review'
df_reviews_clean['Date_Review'] = df_reviews_clean['posted'].str[-4:]

# Encuentra los registros que comienzan con una letra en la columna 'Date_Review' (porque algunos archivos que no 
# contenían el año copiaban parte del mes. Asi que esos los quería eliminar ya que no tenían
# el dato que necesitaba)

registros_con_letras = df_reviews_clean[df_reviews_clean['Date_Review'].str[0].str.isalpha()]

# Cuenta cuántos registros cumplen con el criterio
cantidad_registros_con_letras = len(registros_con_letras)

print(cantidad_registros_con_letras)

In [28]:
#AGREGA 'null' A LOS REGISTROS VACIOS

# Reemplaza los valores en esos registros con 'null'
df_reviews_clean.loc[df_reviews_clean['Date_Review'].str[0].str.isalpha(), 'Date_Review'] = 'null'

# Verifica que los valores se hayan reemplazado correctamente
print("Cantidad de registros con letras:", cantidad_registros_con_letras)

In [32]:
# Convierte las columnas que contienen años en números enteros
df_reviews_clean['Date_Review'] = df_reviews_clean['Date_Review'].apply(lambda x: int(x) if x.isdigit() else x)

In [37]:
#Eliminar columna 'posted'
df_reviews_clean = df_reviews_clean.drop(columns=['posted'])

In [39]:
#VER CANTIDAD DE ARCHIVOS VACIOS POR COLUMNA

registros_vacios_por_columna = df_reviews_clean.isnull().sum()

# Mostrar el resultado
print(registros_vacios_por_columna)

user_id        0
Date_Review    0
item_id        0
helpful        0
recommend      0
review         0
dtype: int64

In [43]:
#PORCENTAJE DE NULOS EN UNA COLUMNA

# Reemplaza 'Nombre_Columna' con el nombre de la columna que deseas analizar
nombre_columna = 'Date_Review'

# Calcular el porcentaje de celdas que no están vacías y contienen 'null'
porcentaje_con_null = ((df_reviews_clean['Date_Review'].notnull()) & (df_reviews_clean['Date_Review'] == 'null')).sum() / len(df_reviews_clean) * 100

# Mostrar el porcentaje
print(f'Porcentaje de celdas que no están vacías y contienen "null" en la columna {nombre_columna}: {porcentaje_con_null:.2f}%')

Porcentaje de celdas que no están vacías y contienen "null" en la columna Date_Review: 17.20%

In [45]:
#ELIMINAR COLUMNA

# Supongamos que tienes un DataFrame llamado df y quieres eliminar la columna 'columna_a_eliminar'
df_reviews_clean = df_reviews_clean.drop('helpful', axis=1)

In [46]:
# GUARDAR EN CSV

df_reviews_clean.to_csv('review_data.csv', index=False)  
# El argumento index=False evita que se guarde el índice en el archivo