In [1]:
import pandas as pd

ITEMS 1

In [20]:
import pyarrow.parquet as pq

# Ruta al archivo Parquet en tu computadora
file_path = 'C:/Users/Susana y Juan/OneDrive/Escritorio/Henry/PI_ML_OPS/Archivos/Parquet/df_items1.parquet'

# Lee el archivo Parquet
table1 = pq.read_table(file_path)

# Convierte la tabla en un DataFrame de pandas
df_items1 = table1.to_pandas()

# Ahora puedes trabajar con el DataFrame df
print(df_items1.head())

   item_id               Item_Name  Playtime_Forever
0       10          Counter-Strike                 6
1       30           Day of Defeat                 7
2      300   Day of Defeat: Source              4733
3      240  Counter-Strike: Source              1853
4     3830             Psychonauts               333

In [21]:
# CAMBIAR NOMBRES DE LAS COLUMNAS
nuevos_nombres = {
    "item_id": "Item_Id",
    "item_name": "Item_Name",
    "playtime_forever": "Playtime_Forever",
}

# Utiliza el método rename para cambiar los nombres de las columnas
df_items1 = df_items1.rename(columns=nuevos_nombres)

In [22]:
df_items1.head()

   Item_Id               Item_Name  Playtime_Forever
0       10          Counter-Strike                 6
1       30           Day of Defeat                 7
2      300   Day of Defeat: Source              4733
3      240  Counter-Strike: Source              1853
4     3830             Psychonauts               333

df_1y2

In [6]:
import pyarrow.parquet as pq

# Ruta al archivo Parquet en tu computadora
file_path = 'C:/Users/Susana y Juan/OneDrive/Escritorio/Henry/PI_ML_OPS/Archivos/Parquet/df_1y2.parquet'

# Lee el archivo Parquet
table_1y2 = pq.read_table(file_path)

# Convierte la tabla en un DataFrame de pandas
df_1y2 = table_1y2.to_pandas()

             User_Id  Item_Id  Recommend  \
0  76561198055968900   327950       True
1           alyboxie    32340       True
2              FDAOP     9180       True
3  76561198074645000     9180      False
4  76561198091490600     9180       True

                                              Review  \
0  To be honest I really liked this game! It's re...
1  This is a beautiful game and a masterpiece in ...
2  Commander Keen. Many of us have played this ga...
3                                 it sucks balls.com
4                                          love this

                        Genres              App_Name Release_Date
0  ['Adventure', 'Simulation']  Sword of the Samurai   01/01/1989
1                ['Adventure']                 LOOM™   01/01/1990
2                   ['Action']        Commander Keen   14/12/1990
3                   ['Action']        Commander Keen   14/12/1990
4                   ['Action']        Commander Keen   14/12/1990

In [44]:
# Eliminar los corchetes de la columna 'Texto'
df_1y2['Genres'] = df_1y2['Genres'].str.replace(r'\[|\]', '', regex=True)

In [46]:
# Eliminar las comillas simples de la columna 'Texto' (las comillas simples están escapadas como \' en el ejemplo)
df_1y2['Genres'] = df_1y2['Genres'].str.replace(r"\'", '', regex=True)

In [47]:
df_1y2.head()

,User_Id,Item_Id,Recommend,Review,Genres,App_Name,Release_Date
0,76561198055968900,327950,True,To be honest I really liked this game! It's re...,"Adventure, Simulation",Sword of the Samurai,1989
1,alyboxie,32340,True,This is a beautiful game and a masterpiece in ...,Adventure,LOOM™,1990
2,FDAOP,9180,True,Commander Keen. Many of us have played this ga...,Action,Commander Keen,1990
3,76561198074645000,9180,False,it sucks balls.com,Action,Commander Keen,1990
4,76561198091490600,9180,True,love this,Action,Commander Keen,1990

División de df_1y2

In [48]:
import pandas as pd

# Supongamos que tienes un DataFrame llamado df que deseas dividir en tres partes
# El número total de filas en tu DataFrame
total_filas = len(df_1y2)

# Divide el DataFrame en tres partes aproximadamente iguales
parte1 = df_1y2.iloc[:total_filas // 3]
parte2 = df_1y2.iloc[total_filas // 3: 2 * (total_filas // 3)]
parte3 = df_1y2.iloc[2 * (total_filas // 3):]

# Ahora tienes tres DataFrames: parte1, parte2 y parte3, que contienen partes aproximadamente iguales de tu DataFrame original

In [38]:
# Dividir la columna 'Fecha' en partes usando '/'
df_1y2['Release_Date'] = df_1y2['Release_Date'].str.split('/').str[2]

In [49]:
parte1.head()

,User_Id,Item_Id,Recommend,Review,Genres,App_Name,Release_Date
0,76561198055968900,327950,True,To be honest I really liked this game! It's re...,"Adventure, Simulation",Sword of the Samurai,1989
1,alyboxie,32340,True,This is a beautiful game and a masterpiece in ...,Adventure,LOOM™,1990
2,FDAOP,9180,True,Commander Keen. Many of us have played this ga...,Action,Commander Keen,1990
3,76561198074645000,9180,False,it sucks balls.com,Action,Commander Keen,1990
4,76561198091490600,9180,True,love this,Action,Commander Keen,1990

Consulta 1 - Parte 2

In [50]:
# Suponiendo que tienes dos DataFrames parte1 y df_items1

# Selecciona las columnas que deseas de cada DataFrame
parte1_subset = parte1[['Item_Id', 'Release_Date', 'Genres']]
df_items1_subset = df_items1[['Item_Id', 'Playtime_Forever']]

# Realiza la unión (merge) en base a la columna 'Item_Id'

df_resultado = parte1_subset.merge(df_items1_subset, on='Item_Id', how='inner')

# df_resultado ahora contendrá las columnas 'Item_Id', 'Release_Date', 'Genres' y 'Playtime_Forever'

In [51]:
df_resultado.tail()

   Item_Id Release_Date                 Genres  Playtime_Forever
0   327950         1989  Adventure, Simulation                24
1   327950         1989  Adventure, Simulation              3880
2   327950         1989  Adventure, Simulation                13
3   327950         1989  Adventure, Simulation                 6
4   327950         1989  Adventure, Simulation                 3

In [52]:
# GUARDAR EN CSV

df_resultado.to_csv('df_consulta1_a.csv', index=False)  
# El argumento index=False evita que se guarde el índice en el archivo

Consulta 1 - Parte 2

In [53]:
import pyarrow.parquet as pq

# Ruta al archivo Parquet en tu computadora
file_path = 'C:/Users/Susana y Juan/OneDrive/Escritorio/Henry/PI_ML_OPS/Archivos/Parquet/df_items2.parquet'

# Lee el archivo Parquet
table2 = pq.read_table(file_path)

# Convierte la tabla en un DataFrame de pandas
df_items2 = table2.to_pandas()

         item_id                                     Item_Name  \
1095082   209650                Call of Duty: Advanced Warfare
1095083   209660  Call of Duty: Advanced Warfare - Multiplayer
1095084   346180                                        David.
1095085   346900                          AdVenture Capitalist
1095086   377160                                     Fallout 4

         Playtime_Forever
1095082               860
1095083              1440
1095084                 4
1095085                34
1095086              6198

In [54]:
# CAMBIAR NOMBRES DE LAS COLUMNAS
nuevos_nombres = {
    "item_id": "Item_Id",
    "item_name": "Item_Name",
    "playtime_forever": "Playtime_Forever",
}

# Utiliza el método rename para cambiar los nombres de las columnas
df_items2 = df_items2.rename(columns=nuevos_nombres)

In [55]:
df_items2.head()

,Item_Id,Item_Name,Playtime_Forever
1095082,209650,Call of Duty: Advanced Warfare,860
1095083,209660,Call of Duty: Advanced Warfare - Multiplayer,1440
1095084,346180,David.,4
1095085,346900,AdVenture Capitalist,34
1095086,377160,Fallout 4,6198

In [56]:
#UNION

# Selecciona las columnas que deseas de cada DataFrame
parte2_subset = parte2[['Item_Id', 'Release_Date', 'Genres']]
df_items2_subset = df_items2[['Item_Id', 'Playtime_Forever']]

# Realiza la unión (merge) en base a la columna 'Item_Id'

df_resultado2 = parte2_subset.merge(df_items2_subset, on='Item_Id', how='inner')

# df_resultado ahora contendrá las columnas 'Item_Id', 'Release_Date', 'Genres' y 'Playtime_Forever'

In [57]:
# GUARDAR EN CSV

df_resultado2.to_csv('df_consulta2_a.csv', index=False)  
# El argumento index=False evita que se guarde el índice en el archivo

Consulta 2 - Parte 1

In [58]:
df_1y2.head()

,User_Id,Item_Id,Recommend,Review,Genres,App_Name,Release_Date
0,76561198055968900,327950,True,To be honest I really liked this game! It's re...,"Adventure, Simulation",Sword of the Samurai,1989
1,alyboxie,32340,True,This is a beautiful game and a masterpiece in ...,Adventure,LOOM™,1990
2,FDAOP,9180,True,Commander Keen. Many of us have played this ga...,Action,Commander Keen,1990
3,76561198074645000,9180,False,it sucks balls.com,Action,Commander Keen,1990
4,76561198091490600,9180,True,love this,Action,Commander Keen,1990

In [59]:
# Suponiendo que tienes dos DataFrames parte1 y df_items1

# Selecciona las columnas que deseas de cada DataFrame
parte1_subset = parte1[['Item_Id', 'User_Id', 'Release_Date', 'Genres']]
df_items1_subset = df_items1[['Item_Id', 'Playtime_Forever']]

# Realiza la unión (merge) en base a la columna 'Item_Id'

df_resultado3 = parte1_subset.merge(df_items1_subset, on='Item_Id', how='inner')

# df_resultado ahora contendrá las columnas 'Item_Id', 'Release_Date', 'Genres' y 'Playtime_Forever'

In [60]:
df_resultado3.head()

,Item_Id,User_Id,Release_Date,Genres,Playtime_Forever
0,327950,76561198055968900,1989,"Adventure, Simulation",24
1,327950,76561198055968900,1989,"Adventure, Simulation",3880
2,327950,76561198055968900,1989,"Adventure, Simulation",13
3,327950,76561198055968900,1989,"Adventure, Simulation",6
4,327950,76561198055968900,1989,"Adventure, Simulation",3

In [61]:
# GUARDAR EN CSV
df_resultado3.to_csv('df_consulta2_a.csv', index=False)  
# El argumento index=False evita que se guarde el índice en el archivo

Consulta 3

Convertir Columna

In [71]:
import pandas as pd
from textblob import TextBlob

In [73]:
# Aplicar análisis de sentimiento a las reseñas y crear la columna 'sentiment_analysis'
df_1y2['Sentiment_Analysis'] = df_1y2['Review'].apply(lambda x: TextBlob(str(x)).sentiment.polarity)

# Mapear los valores de la columna a 0, 1 o 2
df_1y2['Sentiment_Analysis'] = df_1y2['Sentiment_Analysis'].apply(lambda x: 0 if x < 0 else (1 if x == 0 else 2))

In [75]:
# Supongamos que tienes un DataFrame llamado user_reviews
# y deseas eliminar la columna 'Review'
df_1y2.drop(columns=['Review'], inplace=True)

In [ ]:
# Suponiendo que tienes dos DataFrames parte1 y df_items1

# Selecciona las columnas que deseas de cada DataFrame
parte1_subset = parte1[['', 'User_Id', 'Release_Date', 'Genres']]
df_items1_subset = df_items1[['Item_Id', 'Playtime_Forever']]

# Realiza la unión (merge) en base a la columna 'Item_Id'

df_resultado3 = parte1_subset.merge(df_items1_subset, on='Item_Id', how='inner')

# df_resultado ahora contendrá las columnas 'Item_Id', 'Release_Date', 'Genres' y 'Playtime_Forever'

In [77]:
import pandas as pd

# Supongamos que tienes un DataFrame llamado df que deseas dividir en tres partes
# El número total de filas en tu DataFrame
total_filas = len(df_1y2)

# Divide el DataFrame en tres partes aproximadamente iguales
df_1y2_a = df_1y2.iloc[:total_filas // 3]
df_1y2_b = df_1y2.iloc[total_filas // 3: 2 * (total_filas // 3)]
df_1y2_c = df_1y2.iloc[2 * (total_filas // 3):]

# Ahora tienes tres DataFrames: parte1, parte2 y parte3, que contienen partes aproximadamente iguales de tu DataFrame original

In [78]:
# Transformar la columna Recommend y la columna que deseas transformar se llama 'columna_booleana'
df_1y2['Recommend'] = df_1y2['Recommend'].astype(int)

App name (juegos) + reviews.recommend + sentiment_analysis

In [80]:
# Hacer un dataframe solo con la información necesaria
# y deseas seleccionar las columnas 'Recommend', 'App_Name', y 'Sentiment_Analysis'
columnas_deseadas = ['Recommend', 'App_Name', 'Sentiment_Analysis']
df_consulta3 = df_1y2[columnas_deseadas]

In [81]:
df_consulta3.head()

   Recommend              App_Name  Sentiment_Analysis
0          1  Sword of the Samurai                   2
1          1                 LOOM™                   2
2          1        Commander Keen                   2
3          0        Commander Keen                   0
4          1        Commander Keen                   2

In [82]:
# GUARDAR EN CSV
df_consulta3.to_csv('df_consulta3.csv', index=False)  
# El argumento index=False evita que se guarde el índice en el archivo

Consulta 4: Top 3 de juegos menos recomendados: App name (juegos) + reviews.recommend

In [ ]:
#USAR DATAFRAME CONSULTA 3

Consulta 5: Año de lanzamiento + sentiment_analysis (lista)

In [83]:
# Hacer un dataframe solo con la información necesaria
# y deseas seleccionar las columnas 'Recommend', 'App_Name', y 'Sentiment_Analysis'
columnas_deseadas1 = ['App_Name', 'Sentiment_Analysis']
df_consulta5 = df_1y2[columnas_deseadas1]

In [85]:
# GUARDAR EN CSV
df_consulta5.to_csv('df_consulta5.csv', index=False)  
# El argumento index=False evita que se guarde el índice en el archivo