In [2]:
import pandas as pd

In [2]:
#ABRIR EL ARCHIVO
# Reemplaza 'nombre_archivo.csv' con la ruta o el nombre de tu archivo CSV
df_reviews = pd.read_csv('C:/Users/Susana y Juan/OneDrive/Escritorio/Henry/PI_ML_OPS/Archivos/review_data.csv')

In [10]:
#CAMBIAR NOMBRE DE COLUMNA PARA LUEGO UNIRLA

# Cambiar el nombre de la columna
df_reviews.rename(columns={'id': 'Id'}, inplace=True)

In [3]:
#ABRIR EL OTRO DATA FRAME 

# Reemplaza 'nombre_archivo.csv' con la ruta o el nombre de tu archivo CSV
df_games = pd.read_csv('C:/Users/Susana y Juan/OneDrive/Escritorio/Henry/PI_ML_OPS/Archivos/steam_games.csv')

In [12]:
#UNIR DOS DATA FRAME A TRAVÉS DE UNA COLUMNA

# Supongamos que tienes dos DataFrames: df1 y df2
# Realiza una combinación interna (inner join) en función de la columna "id"
merged_df = pd.merge(df_reviews, df_games, on='Id', how='inner')

# Si merged_df está vacío, no hubo coincidencias entre las columnas "id"
if merged_df.empty:
    print("No hay coincidencias en la columna 'id'.")
else:
    print("Se encontraron coincidencias en la columna 'id'.")

# Si deseas ver las coincidencias en detalle, puedes imprimir merged_df
print(merged_df)

Se encontraron coincidencias en la columna 'id'.
                 user_id  Date_Review      Id  recommend  \
0      76561197970982479       2011.0    1250       True
1           death-hunter       2015.0    1250       True
2               DJKamBer       2013.0    1250       True
3              diego9031       2015.0    1250       True
4      76561198081962345       2014.0    1250       True
...                  ...          ...     ...        ...
55587        llDracuwulf       2015.0  307130       True
55588       ChrisCoroner          NaN  209120       True
55589       MeloncraftLP          NaN  220090       True
55590       MeloncraftLP          NaN  262850       True
55591         vinquility          NaN  431510       True

                                                  review  \
0      Simple yet with great replayability. In my opi...
1      Amazing, Non-stop action of blowing stuff to b...
2      Compared to Left 4 Dead 2, this game REALLY gi...
3                                     Jogo ‚ô•‚ô•‚ô•‚ô•.
4      cara nas imagens esse jogo da pouco de medo ma...
...                                                  ...
55587  Asteria is a fast paced indie platformer, wrap...
55588   Great game, awkward to get running in windows 10
55589  GET THIS GAME AND CHAPTER TWO!!!!!!!!!!!!!!!!!...
55590  THIS GAME!!!!!!!!!!!!!!!!!! WOOOOOOOOOOOOOOOOO...
55591  Highly recommended! The storyline for shou is ...

                  Publisher                                          Genres  \
0      Tripwire Interactive                                      ['Action']
1      Tripwire Interactive                                      ['Action']
2      Tripwire Interactive                                      ['Action']
3      Tripwire Interactive                                      ['Action']
4      Tripwire Interactive                                      ['Action']
...                     ...                                             ...
55587         Legend Studio                ['Action', 'Adventure', 'Indie']
55588   Capcom U.S.A., Inc.                                      ['Action']
55589             SkyGoblin                          ['Adventure', 'Indie']
55590             SkyGoblin                          ['Adventure', 'Indie']
55591    Aeon Dream Studios  ['Adventure', 'Casual', 'Indie', 'Simulation']

                                     App_Name Release_Date  \
0                               Killing Floor   2009-05-14
1                               Killing Floor   2009-05-14
2                               Killing Floor   2009-05-14
3                               Killing Floor   2009-05-14
4                               Killing Floor   2009-05-14
...                                       ...          ...
55587                                 Asteria   2014-07-03
55588                 Street Fighter X Tekken   2012-05-11
55589           The Journey Down: Chapter One   2013-01-09
55590           The Journey Down: Chapter Two   2014-08-25
55591  Mystic Destinies: Serendipity of Aeons   2016-02-11

                  Developer
0      Tripwire Interactive
1      Tripwire Interactive
2      Tripwire Interactive
3      Tripwire Interactive
4      Tripwire Interactive
...                     ...
55587         Legend Studio
55588   Capcom U.S.A., Inc.
55589             SkyGoblin
55590             SkyGoblin
55591    Aeon Dream Studios

[55592 rows x 10 columns]

In [15]:
# GUARDAR NUEVO DATAFRAME EN ARCHIVO CSV
merged_df.to_csv('merged_games_reviews.csv', index=False)  # El argumento index=False evita que se guarde el índice en el archivo

In [3]:
# Reemplaza 'nombre_archivo.csv' con la ruta o el nombre de tu archivo CSV
df_merged1 = pd.read_csv('C:/Users/Susana y Juan/OneDrive/Escritorio/Henry/PI_ML_OPS/Archivos/merged_games_reviews.csv')

In [4]:
df_merged1.head()

,User_Id,Date_Review,Item_Id,Recommend,Review,Genres,App_Name,Release_Date,Developer
0,"7,65611979709825E+016",2011.0,1250,True,Simple yet with great replayability. In my opi...,['Action'],Killing Floor,2009-05-14,Tripwire Interactive
1,death-hunter,2015.0,1250,True,"Amazing, Non-stop action of blowing stuff to b...",['Action'],Killing Floor,2009-05-14,Tripwire Interactive
2,DJKamBer,2013.0,1250,True,"Compared to Left 4 Dead 2, this game REALLY gi...",['Action'],Killing Floor,2009-05-14,Tripwire Interactive
3,diego9031,2015.0,1250,True,Jogo ‚ô•‚ô•‚ô•‚ô•.,['Action'],Killing Floor,2009-05-14,Tripwire Interactive
4,"7,65611980819624E+016",2014.0,1250,True,cara nas imagens esse jogo da pouco de medo ma...,['Action'],Killing Floor,2009-05-14,Tripwire Interactive

In [28]:
# PORCENTAJES DE VALORES NULOS

column_name = 'Date_Review'
total_rows = len(df_merged1)
null_count = df_merged1[column_name].isnull().sum()
percentage_null = (null_count / total_rows) * 100

print(f"Porcentaje de valores nulos en '{column_name}': {percentage_null:.2f}%")

Porcentaje de valores nulos en 'Date_Review': 17.25%

In [34]:
# VALORES NULOS POR COLUMNA

missing_percentage = (df_merged1.isnull().sum() / len(df_merged1)) * 100

# Mostrar el porcentaje de celdas vacías por columna
print("Porcentaje de celdas vacías por columna:")
print(missing_percentage)

Porcentaje de celdas vacías por columna:
User_Id         0.000000
Date_Review     1.001943
Item_Id         0.000000
Recommend       0.000000
Review          0.050367
Genres          0.001799
App_Name        0.000000
Release_Date    6.749173
Developer       6.736581
dtype: float64

In [7]:
#ABRIR ARCHIVO EN DATAFRAME

# Reemplaza 'nombre_archivo.csv' con la ruta o el nombre de tu archivo CSV
df_merded_games_review = pd.read_csv('C:/Users/Susana y Juan/OneDrive/Escritorio/Henry/PI_ML_OPS/Archivos/merged_games_reviews.csv')

In [9]:
#ELIMINAR COLUMNAS INECESARIAS 
#Eliminar: Date_Review, Developer

df_merded_cleaned = df_merded_games_review.drop('Date_Review', axis=1)
df_merded_cleaned = df_merded_cleaned.drop('Developer', axis=1)

In [11]:
df_merded_cleaned.head()

,User_Id,Item_Id,Recommend,Review,Genres,App_Name,Release_Date
0,"7,65611979709825E+016",1250,True,Simple yet with great replayability. In my opi...,['Action'],Killing Floor,2009-05-14
1,death-hunter,1250,True,"Amazing, Non-stop action of blowing stuff to b...",['Action'],Killing Floor,2009-05-14
2,DJKamBer,1250,True,"Compared to Left 4 Dead 2, this game REALLY gi...",['Action'],Killing Floor,2009-05-14
3,diego9031,1250,True,Jogo ‚ô•‚ô•‚ô•‚ô•.,['Action'],Killing Floor,2009-05-14
4,"7,65611980819624E+016",1250,True,cara nas imagens esse jogo da pouco de medo ma...,['Action'],Killing Floor,2009-05-14

In [13]:
#UNIR CON LA OTRO ARCHIVO ITEMS

#ABRIR ARCHIVO

df_user_items2 = pd.read_csv('C:/Users/Susana y Juan/OneDrive/Escritorio/Henry/PI_ML_OPS/Archivos/user_items2.csv')

In [16]:
df_user_items2.head()

   item_id                  item_name  playtime_forever
0       10             Counter-Strike                 6
1       20      Team Fortress Classic                 0
2       30              Day of Defeat                 7
3       40         Deathmatch Classic                 0
4       50  Half-Life: Opposing Force                 0

In [15]:
#Eliminar: playtime_2weeks

df_user_items2 = df_user_items2.drop('playtime_2weeks', axis=1)

In [ ]:
#UNIR DF ITEMS2 CON EL RESTO 

# Unir los DataFrames en función de las columnas con nombres diferentes
df_merged_all = pd.merge(df_user_items2, df_merded_cleaned, left_on='item_id', right_on='Item_Id', how='inner')

# Imprimir el resultado
df_merged_all.head()

#NO SE PUEDO PORQUE ES UN ARCHIVO MUY GRANDE

#MemoryError: Unable to allocate 24.3 GiB for an array with shape (5, 651865549) and data type object

In [18]:
# GUARDAR EN CSV

df_user_items2.to_csv('user_items2', index=False)  
# El argumento index=False evita que se guarde el índice en el archivo

In [19]:
# GUARDAR EN CSV

df_merded_cleaned.to_csv('df_merded_cleaned', index=False)  
# El argumento index=False evita que se guarde el índice en el archivo

In [21]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

In [26]:
usuario = 'root'
contrasena = 'root1234'
host = 'localhost'  # Por ejemplo, 'localhost' o '127.0.0.1'
base_datos = 'df_merded_cleaned'  #previo crear un DATABASE en MySQL

In [27]:
conexion = mysql.connector.connect(
    user=usuario,
    password=contrasena,
    host=host,
    database=base_datos
)

In [28]:
#Crea un motor SQLAlchemy para interactuar con la base de datos
motor = create_engine(f"mysql+mysqlconnector://{usuario}:{contrasena}@{host}/{base_datos}")

In [29]:
#Guarda tu DataFrame de Pandas en la base de datos MySQL utilizando la función to_sql
nombre_tabla = 'df_merded_cleaned1'  # Especifica el nombre de la tabla en la que deseas guardar los datos
df_merded_cleaned.to_sql(nombre_tabla, con=motor, if_exists='replace', index=False)

-1

In [47]:
#Cierra la conexión a la base de datos cuando hayas terminado
conexion.close()

In [37]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
import MySQLdb


# Configura la conexión a la base de datos
engine = create_engine('mysql://root:root1234@localhost/df_merded_cleaned')

# Crea una sesión
Session = sessionmaker(bind=engine)
session = Session()

# Realiza operaciones con la sesión
# Por ejemplo, puedes realizar consultas, insertar datos, actualizar, etc.
# Asegúrate de usar 'session.commit()' para confirmar las transacciones y 'session.rollback()' para deshacerlas en caso de errores.

# Finaliza la sesión
session.close()